/* EventGrid.css */

.event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
    gap: 50px;
  }
  
  .event {
    display: flex;
    border: 1px solid #ddd;
    margin: 10px;
  }
  
  .image-container {
    flex: 1;
    width: 800px;
    height: 300px;
  }
  
  .imgvenue {
    width: 400px;
    height: 300px;
    max-height: 300px;
    object-fit: cover;
  }
  
  .details-container {
    flex: 1;
    padding: 10px;
  }
  
  .h3venue {
    margin-top: 0;
  }
  
  .pvenue {
    margin-bottom: 0;
  }
  